@import "../variables.less";



.content-main-container{

    height: @pages-height;

    .cardsContent{
        background-color: chocolate;

        .cardItem{
            background-color: green;

        }
    }
}