@import "../variables.less";


.navbar-content{

    height: 9vh;

    .navbar-component{

        height: 9vh;
        background-color: @navbar-background-first;
            color: #6B4F3D;//@navbar-text-dark;
        
        .MuiBox-root > a {
            color: #5C7A5C;//@navbar-text-dark;
                text-decoration: inherit;
                padding:5px;
        }

        .navbar-userInfo{
            display: flex;
            gap: 20px;

            a{
                border-radius: @button-radius;
                        padding: 0.6em 1.2em;
                color: @navbar-text-dark;
                text-decoration: inherit;
            }

            .navbar-login{
                color: #F5F5F5;//@navbar-text-dark;

                background-color: #6B4F3D;
                &:hover {
                    background-color:#5C4232;//rgb(18, 77, 136);
                }
            }

            .navbar-register{
                // background-color: #E4DCD3;//#D4A55E;//@navbar-background;
                color: #2D2D2D;
                border-color: #A78B71;
                &:hover {
                    background-color:#D4A55E;//#8AA38B;//rgba(226, 226, 226, 0.808);
                }
            }
        }
    }
}